# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ViewSource\gmt_trng_assess-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
